.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    width: 80%;
  }
  
  .infected {
    border-bottom: 7px solid #0A8BA2;
    text-align: center;
    padding-bottom: 1rem !important;
  }

  .infectedTitle {
      color: #0A8BA2;
      font-weight: bold !important;
      font-size: 27px !important;
      margin: 1rem 0 !important;
  }
  
  .recovered{
    border-bottom: 10px solid #0AA23F;
    text-align: center;
    padding-bottom: 1rem !important;

  }

  .recoveredTitle {
    color: #0AA23F;
    font-weight: bold !important;
    font-size: 27px !important;
    margin: 1rem 0 !important;

}
  
  .deaths{
    border-bottom: 10px solid #DD3722;
    text-align: center;
    padding-bottom: 1rem !important;

  }

  .deathsTitle {
    color: #DD3722;
    font-weight: bold !important;
    font-size: 27px !important;
    margin: 1rem 0 !important;

}